body {
    display: block;
    background-color: aliceblue;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: aliceblue;
}

.loginbox {
    margin-top: 130px;
    background:black;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}
a {
    color: aliceblue;
    text-decoration: none;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.107);
}